@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  @apply text-white;
}

.about,
.skills,
.projects,
.contact {
  /* background-image: url("./assets/Colored.svg");
  background-repeat: no-repeat; */
  background-color: #060119;
}

.bgImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-front:hover .card {
  right: 0;
}
